body h1.title {
  text-align: center;
}

div#galaxy {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 1px dashed rgba(52, 52, 52, 0.673);
}

img.starship {
  width: 200px;
  height: 200px;
  position: absolute;
  visibility: hidden;
}

img.starship.small {
  width: 50px;
  height: 50px;
}
