
html {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Trebuchet MS"
}

button {
  background-color: transparent;
  border-radius: 20px;
  border-color: white;
  width: 30%;
  font-family: "Trebuchet MS";
  color: white;
  font-size: 150%;

}

input {
  border-radius: 5px;
  border-color: white;
  font-family: "Trebuchet MS";
}

select {
  border-radius: 5px;
  border-color: white;
  font-family: "Trebuchet MS";


}


body h1.title {
  text-align: center;
 
}

div#galaxy {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 3px solid white;
  display:none;

}

div#id_room {
  display:none;

}

img.starship {
  width: 200px;
  height: 200px;
  position: absolute;
  visibility: hidden;
}

img.starship.small {
  width: 50px;
  height: 50px;
}


/* from w3schools.com  */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.form-input {
  margin: 0 auto;
  text-align: center;
}

input {
  width: 50%;
}

select { 
  width: 50%;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}